nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    box-sizing: border-box;
}


/* csslint */

.catchadream {
    background-image: -webkit-linear-gradient(left, red, orange, yellow, blue, lightgreen, green, yellow, orange, red, green, green, green, green, green, green, green, green, green, yellow, green, lightgreen, green, green);
    -webkit-animation: charlieeee 10s forwards linear infinite;
    animation: charlieeee 2.5s forwards linear ease infinite;
    background-size: 50% auto;
}

html,
body,
main,
main > section {
    height: 100%;
}

main {
    background: url(../img/bg.png)
}

a#forumlink {
    position: absolute;
    top: 30%;
    right: 5%;
    font-size: 1.5em;
    color: lightgreen;
    text-decoration: none;
}

a#ruleslink {
    position: absolute;
    top: 35%;
    right: 5%;
    font-size: 1.5em;
    color: hotpink;
    text-decoration: none;
}

#news {
    position: absolute;
    left: 50%;
    bottom: 10vh;
    width: 40vw;
    height: 30vh;
    background: white;
    overflow-y: scroll;
}

#duelinglogo {
    animation: dueling 5s reverse infinite;
    width: 40vw;
    float: left;
    clear: left;
    background-image: url(../img/dueling1.png);
    height: 12vh;
    background-size: contain;
    background-repeat: no-repeat;
    webkit-transition: background-image 300ms;
    background-position: center center;
}

#networklogo {
    animation: network 5s reverse infinite;
    width: 40vw;
    float: left;
    clear: left;
    background-image: url(../img/network1.png);
    height: 12vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

main > section {
    padding: 50px;
    color: silver;
    padding-bottom: 0;
}

main > section > .navbar {
    position: absolute;
    top: 0;
    width: 90%;
    background: black;
    height: 49px;
    padding: 5px;
}

.displayform {
    display: none;
}

.displayform.activeform {
    display: block;
}

#login {
    float: left;
}

#chat {
    position: absolute;
    top: 0;
    height: 80%;
    background: white;
    width: 254px;
    resize: both;
}

h1 {
    font-size: 80px;
    height: 10%;
    padding: 0;
    margin: 0;
}

#chat h2 {
    height: 10%;
    padding: 8px 5px;
    margin: 0;
    background: blue;
    width: 100%;
    color: white;
}

#chat input[type="text"] {
    border: 1px solid blue;
    width: 100%;
    resize: none;
}

#chat {
    height: 75%;
    resize: both;
    overflow: auto;
}

#chat ul {
    list-style: none;
    padding: 0 5px;
    height: 81%;
    overflow-y: scroll;
    margin: 0;
    resize: none;
    word-wrap: break-word;
}

#chat span {
    font-weight: bold;
}

.username0 {
    color: blue;
}

.minimize {
    height: 30px;
    width: 30px;
    background: orange;
    float: right;
    display: inline-block;
    position: absolute;
    top: 6px;
    right: 13px;
}

.chatminimize {
    position: absolute;
    bottom: 40px;
    left: 40px;
    height: 40px;
    width: 40px;
    background: orange;
}

.privateminimize {
    position: absolute;
    bottom: 40px;
    left: 100px;
    height: 40px;
    width: 40px;
    background: orange;
}

.publicchatlist {
    position: absolute;
    bottom: 100px;
    left: 40px;
    height: 40px;
    width: 40px;
    background: orange;
}

@-webkit-keyframes charlieeee {
    from {
        background-position: top left;
    }
    to {
        background-position: top right;
    }
}

@-webkit-keyframes dueling {
    0% {
        background-image: url(../img/dueling1.png);
    }
    80% {
        background-image: url(../img/dueling2.png);
    }
    90% {
        background-image: url(../img/dueling1.png);
    }
}

@-webkit-keyframes network {
    0% {
        background-image: url(../img/network1.png);
    }
    80% {
        background-image: url(../img/network2.png);
    }
    90% {
        background-image: url(../img/network1.png);
    }
}

div#mainmenutitle {
    font-size: 7vh;
    color: white;
    text-align: center;
}

#entryfooter {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.5em;
    background: black;
}

.mainbutton {
    width: 41vw;
    background: blue;
    text-align: center;
    float: left;
    margin: 2vh 2vw;
    font-size: 6vh;
    color: white;
    padding: 3vh 1vw;
    border: 6px solid seagreen;
    box-shadow: inset 0px 0px 70px white;
    border-radius: 5px;
    cursor: pointer;
}

div#socialmedia {
    position: absolute;
    bottom: 2vh;
    right: 10vw;
    height: 30px;
}

div#socialmedia img {
    background: white;
    height: 30px;
    width: 30px;
}

form#formLogin {
    background: rgba(200, 200, 200, .4);
    padding: 1vh 1vh;
    color: black;
}

.mainbutton.exit {
    margin: 2vw 26vw;
}