nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    box-sizing: border-box;
}


/* csslint */

.catchadream {
    background-image: -webkit-linear-gradient(left, red, orange, yellow, blue, lightgreen, green, yellow, orange, red, green, green, green, green, green, green, green, green, green, yellow, green, lightgreen, green, green);
    -webkit-animation: charlieeee 10s forwards linear infinite;
    animation: charlieeee 2.5s forwards linear infinite;
    background-size: 50% auto;
}

html,
body,
main,
main > section {
    height: 100%;
}

main {
    background: url(../img/bg.png)
}

main > section {
    padding: 50px;
    color: silver;
    padding-bottom: 0;
}

main > section > .navbar {
    position: absolute;
    top: 0;
    width: 90%;
    background: black;
    height: 49px;
    padding: 5px;
}

#login {
    float: left;
}

#chat {
    position: absolute;
    top: 0;
    height: 80%;
    background: white;
    width: 254px;
    resize: both;
}

h1 {
    font-size: 80px;
    height: 10%;
    padding: 0;
    margin: 0;
}

#chat h2 {
    height: 10%;
    padding: 8px 5px;
    margin: 0;
    background: blue;
    width: 100%;
    color: white;
}

#chat input[type="text"] {
    border: 1px solid blue;
    width: 100%;
    resize: none;
}

#chat {
    height: 75%;
    resize: both;
    overflow: auto;
}

#chat ul {
    list-style: none;
    padding: 0 5px;
    height: 81%;
    overflow-y: scroll;
    margin: 0;
    resize: none;
    word-wrap: break-word;
}

#chat span {
    font-weight: bold;
}

.username0 {
    color: blue;
}

.minimize {
    height: 30px;
    width: 30px;
    background: orange;
    float: right;
    display: inline-block;
    position: absolute;
    top: 6px;
    right: 13px;
}

.chatminimize {
    position: absolute;
    bottom: 40px;
    left: 40px;
    height: 40px;
    width: 40px;
    background: orange;
}

.privateminimize {
    position: absolute;
    bottom: 40px;
    left: 100px;
    height: 40px;
    width: 40px;
    background: orange;
}

@-webkit-keyframes charlieeee {
    from {
        background-position: top left;
    }
    to {
        background-position: top right;
    }
}

div#mainmenutitle {
    font-size: 7vh;
    color: white;
    text-align: center;
}

.mainbutton {
    width: 41vw;
    background: blue;
    text-align: center;
    float: left;
    margin: 2vh 2vw;
    font-size: 6vh;
    color: white;
    padding: 3vh 1vw;
    border: 6px solid seagreen;
    box-shadow: inset 0px 0px 70px white;
}

.mainbutton.exit {
    margin: 2vw 26vw;
}